

profiles {
    local {
        includeConfig '../../config/nextflow/local.config'
    }
    slurm {
        includeConfig '../../config/nextflow/slurm.config'
    }
    sge  {
        includeConfig '../../config/nextflow/sge.config'
    }
    hpc  {
        includeConfig '../../config/nextflow/hpc.config'
    }
    tower {
        includeConfig '../../config/nextflow/tower.config'
    }
    apptainer {
	includeConfig '../../config/nextflow/apptainer.config'
    }
}

