# {{ source }} {{ type }}

This is a data directory for {{type}} data extracted from {{source}}

## Usage

Download or link the raw data using:

```
make download
```

Parse the raw data using:

```
make all
```

Delete data using:

```
make clean
```


