
singularity {
    enabled = true
    autoMounts = true
}

process {
    withLabel: fullR{
        container = '../../config/containers/fullR/fullR.sif'
    }
    withLabel: bedtools {
        container = '../../config/containers/bedtools/bedtools.sif'
    }
    withLabel: bedtoolspy {
        container = '../../config/containers/bedtoolspy/bedtoolspy.sif'
    }
}

