
process {

    withLabel: short{
        time = '2h'
    }

    withLabel: long{
	time = '24h'
    }

    withLabel: sma_mem{
        memory = 5.GB
    }

    withLabel: med_mem {
        memory = 10.GB
    }

    withLabel: med2_mem {
	memory = 15.GB
    }

    withLabel: big_mem {
        memory = 25.GB
    }

    withLabel:cpus_5 {
        cpus = 5
    }

    withLabel:cpus_10 {
        cpus = 10
    }

    withLabel:cpus_15 {
        cpus = 15
    }

    withLabel:mem_5 {
        memory = '5 GB'
    }

    withLabel:mem_15 {
        memory = '15 GB'
    }

    withLabel:mem_25 {
        memory = '25 GB'
    }

    withLabel:mem_50 {
        memory = '50 GB'
    }
    withLabel:mem_5_x5 {
        memory = { 5.GB * task.attempt }
        errorStrategy ='retry'
        maxRetries = 5
    }
    withLabel:mem_10_x5 {
        memory = { 10.GB * task.attempt }
        errorStrategy ='retry'
        maxRetries = 5
    }
}
